.video-parent
{
    padding:0px 80px;
}
.Video
{
    height: 600px;
    width: 100%;
    background: url(https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    filter: grayscale(1);
}
@media(max-width:992px)
{
    .video-parent
    {
        padding:0px;
    }
    .Video
    {
        height: 400px;
    }
}@media(max-width:576px)
{
    .video-parent
    {
        padding: 0px;
    }
    .Video
    {
        height: 400px;
    }
}