@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*
{
    font-family: "Manrope", sans-serif;
}
.ctn img{
    height: 365px;
    width: 679;
}
.ctn
{
    padding: 50px 100px;
}
.ctn h1{
    font-size: 35px;
    font-weight: 600;
}
.spl-parent
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.spl-parent h2
{
    font-size: 27px;
    font-weight: 300;
}
.content-img
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro #spl
{
    height: 80px;
    width: 5px;
    background-color: purple;
}
.pro p
{
    font-weight: 500;
    color: black;
}
p{
    padding: 0;
    margin: 0;
}
li{
    margin: 0;
    padding: 0;
}
.transform-img
{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two
{
    margin-left: 0px;
}
ul{
    color: black;
}
@media (max-width:992px)
{
    .ctn
    {
        padding: 20px;
    }
    .ctn img
    {
        height: auto;
        width: 100%;
    }   
        
    .ctn h1{
        font-size: 30px;
        font-weight: 600;
    } 
    .transform-img
    {
        padding: 10px;
    }
}

@media (max-width:768px)
{
    .ctn
    {
        padding: 20px;
    }
    .ctn img
    {
        height: auto;
        width: 100%;
    }    
    .transform-img
    {
        padding: 10px;
    }
}
@media (max-width:576px)
{
    .ctn
    {
        padding: 20px;
    }
    .ctn img
    {
        height: auto;
        width: 100%;
    }    
    .transform-img
    {
        padding: 10px;
    }
}