.measurable-container{
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
   
 
}
.measurable-highlights{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    background-color: purple;
    padding: 50px 50px;
    color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}
.measurable-highlights-contents{
    width:75%;
    color: white;
}
.measurable-highlights-contents h2{
    color:white;
}
.measurable-highlights-btn{
    width: 20%;
    text-align: center;
    margin-top: 20px;
   
}
.measurable-highlights-btn button{
    padding: 10px 20px;
    color: #888;
    background-color: white;
    border-radius: 40px;
    border: none;
}
.measurable-highlights-btn button:hover {
    transform: translateY(-20px);
}
 
@media all and (min-width:567px) and (max-width:999px){
 .measurable-highlights {
    display: flex;
    flex-direction: column;
 }
 .measurable-highlights-contents{
    width:100%;
 }
 .measurable-highlights-btn{
  width:50%;
    display: flex;
    justify-content: flex-start;
 }
 .block{
    height: 250px!important;
 }
 .library-container-head{
    margin-top: 50px!important;
}
}
 
@media all and (max-width:566px)
{
 
    .measurable-container{
        margin: 50px 20px;
    }
    .measurable-highlights {
        display: flex;
        flex-direction: column;
     }
     .measurable-highlights-contents{
        width:100%;
     }
     .measurable-highlights-btn{
      width:50%;
        display: flex;
        justify-content: flex-start;
     }
     .block{
        height: 250px!important;
     }
     .library-container-head{
        margin-top: 50px!important;
    }
}
.block{
    padding:  20px 30px;
    border: 2px solid whitesmoke;
    height: 330px;
    align-items: justify;
    border-radius: 20px;
    color:black;
    gap:20px;
}
.block h2{
    color:purple;
    font-size: 40px;
}
 
 
#bold{
    color:black;
    font-weight: bold;
}
.library-container-head{
    margin-top: 150px;
}
.library-container-head h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.block2{
border: 2px solid whitesmoke;
border-radius: 20px;
padding: 30px 30px;
color: black;
}
.block2 button{
    margin: 20px 0px;
    border: none;
    background-color:purple;
    color:white;
    border-radius: 40px;
    padding: 10px 20px;
}
.block2 p:nth-child(1){
    color:purple;
    font-weight: 500;
    font-size: 20px;
}
.block2 button:hover{
    transform: translateY(-10px);
}